@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins',sans-serif;
}
.banner{
 position: relative;
 min-height:90vh;
 background: url(../images/banner.jpg);
 background-size: cover;
 background-position: right;
 display:flex;
 justify-content:space-between;
 align-items:center;
}
.banner .textBx{
 margin-left: 40px;
}
.banner h2{
 font-size:3em;
 color:azure;
 font-weight: 500;
 line-height: 1.5em;

}
.banner h2 span{
 font-size: 1.5em;
 font-weight: 700;
}
.banner h3{
 font-size:1.5em;
 color:azure;
 font-weight: 500;

}
.btn{
 position: relative;
 display: inline-block;
 color: azure;
 margin-top:20px;
 padding: 10px 30px;
 text-transform: uppercase;
 font-size:18px;
 letter-spacing:2px;
 font-weight: 500;
 text-decoration: none;
 background: #1a557c;
 cursor: pointer;
 font-weight: 600;
}
header{
 top: 0;
 left: 0;
 width: 100%;
 padding: 40px 100px;
 z-index: 1000;
 display: flex;
 justify-content: space-between;
 align-items: center;
 background:black;
 position: fixed;
}

header .logo{
 color:azure;
 text-transform:initial;
 font-size:25px;
 letter-spacing:2px;
 font-weight: 700;
 text-decoration: none;
}
header ul{
 display: flex;
 position: relative;
}
header ul li{
position: relative;
list-style: none;
}
header ul li a{
 color: azure;
 margin: 0 15px;
 font-size:15px;
 display: inline-block;
 font-weight: 700;
 text-decoration: none;
 position: relative;
}
.heading{
 width: 100%;
 text-align: center;
 margin-bottom: 30px;
 color:#111;
 margin-top: 40px;
}
.heading h2{
font-weight: 600;
font-size:30px;
}
.about{
 max-height: 300px;
}
.content{
 display:flex;
 justify-content: space-between;
}
.contentBx{
 padding-right:30px;
 padding-left: 30px;
}
.contentBx h3{
font-size: 24px;
margin-bottom: 10px;
}
.contentImg{
 min-width:60%;
}
img{
 max-width:100%;
 max-height:60%;
}
.services{
 background:black
}
.heading.white{
 color:azure;
}
.services .content{
 display:flex;
 justify-content:center;
 flex-wrap:wrap;
 flex-direction: row;
}
.services .content .serviceBx{
 padding:40px 20px;
 background:#222;
 color:azure;
 max-width: 340px;
 margin: 20px;
 text-align:center;
 transition:0.5s;
}
.services .content .serviceBx:hover{
 background:#2196f3;
}
.work .content{
 display:flex;
 justify-content:space-between;
 flex-wrap:wrap;
 background:#222;
}

.box-1, .box-2, .box-3, .box-4{
 width:300px;
 height:300px;
 background-repeat: no-repeat;
 background-size: cover;
 box-shadow:2px 2px 12px rgba(0,0,0,0.3);
}
.work .content .box-1{
 padding:40px 20px;
 color:azure;
 max-width: 340px;
 margin: 20px;
 text-align:center;
 align-items:center;
 justify-content:center;
 transition:0.5s;
 background-image: url(../images/box-1.jpg);
}


.work .content .box-2{
 background-image: url(../images/box-2.jpg);
 padding:40px 20px;
 color:azure;
 max-width: 340px;
 margin: 20px;
 text-align:center;
 align-items:center;
 justify-content:center;
 transition:0.5s;
}

.work .content .box-3{
 background-image: url(../images/box-3.jpg);
 padding:40px 20px;
 color:azure;
 max-width: 340px;
 margin: 20px;
 text-align:center;
 align-items:center;
 justify-content:center;
 transition:0.5s;
}

.work .content .box-4{
 background-image: url(../images/box-4.jpg);
 padding:40px 20px;
 color:azure;
 max-width: 340px;
 margin: 20px;
 text-align:center;
 align-items:center;
 justify-content:center;
 transition:0.5s;
}
.work .content .box-1:hover{
 background:#2196f3;
}
.work .content .box-2:hover{
 background:#2196f3;
}
.work .content .box-3:hover{
 background:#2196f3;
}
.work .content .box-4:hover{
 background:#2196f3;
}
.contact{
 background:#222;
}

.contact p{
font-size: 12px;
text-align: center;
padding-bottom: 20px;
}
.formBx{
 min-width:50%;
 margin-right: 40px;
}
.formBx form{
 display:flex;
 flex-direction:column;
}
.formBx form h3,
.contactInfo h3{
 color:azure;
 font-size:16px;
 font-weight:500;
 margin-bottom: 10px;
}
.formBx form input,
.formBx form textarea{
 margin-bottom:20px;
 padding: 15px;
 font-size:12px;
 border:none;
 outline: none;
 background:rgb(51, 48, 48);
 color: azure;
 resize:none;
}
.formBx form textarea{
 min-height: 200px;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder{
 color: #999;
}
.formBx form input[type="submit"]{
 max-width:100px;
 background: #1a557c;
 color: azure;
 text-transform: uppercase;
 letter-spacing:2px;
 cursor: pointer;
 font-size:14px;
 font-weight: 600;
 
}
.contactInfo{
 min-width: 40%;
}
.contactInfoBx{
 position: relative;
 margin-left: 40px;
}
.contactInfoBx .box{
 position: relative;
 padding: 10px 0;
 display: flex;
}

.contactInfoBx .box .icon{
 min-width:40px;
 padding-top: 4px;
 color: azure;
 display: flex;
 justify-content: center;
 align-items: flex-start;
 font-size: 20px;
}
.contactInfoBx .box .text{
 display: flex;
 margin-left: 20px;
 font-size: 14px;
 color: azure;
 flex-direction: column;
 font-weight: 300;
}
.contactInfoBx .box .text h3{
 font-weight: 500;
 color:#2196f3;
 margin-bottom: 0;
}
.contactInfoBx .box .text p{
 font-size:10px;
 text-align: left;
}
.copy{
 background:#222;
 color: azure;
 text-align: center;
 padding: 10px;
 font-size: 10px;
}

